<!DOCTYPE html>
<html>
<head>
	<title>Geburtstagsinfo</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: grey">Geburtstagsinfo</h1>

		<body bgcolor="white">

			<form action="/fetchdata" autocomplete="on" method="POST">

				<h2 style="color: grey">Namenssuche:</h2>

		  		Vorname:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_id" autofocus size="40"><br><br>
		  		
		  		Nachname:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_id" autofocus size="40"><br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Anfrage</button><br><br>

		  		<button type="submit" formaction="http://3.134.115.108:80/" style="background: white	; height: 45px; width: 200px; color: black; size: 5; font:oblique;" method="GET">Zurück zu Geburtstage hinzufügen:</button>

			</form>

		</body>
	</font>
</center>
</html>